*{
    padding:0;
    margin:0;
}
body{
    width:100vw;
    height:100vh;
    background-color: cornsilk;
    background-image: url(./crossroads-on-city-street-view-concept-in-flat-cartoon-design-cityview-with-roadway-sidewalk-with-lanterns-buildings-skyscrapers-on-horizon-urban-infrastructure-illustration-background-vector.jpg);
    background-size:100% 100%
}
.kris{
    width: 50px;
    height:200px;
    background-image: url(./Kristopher2.png);
    animation: george .5s steps(4) infinite, itssoccer 5s linear infinite;
    margin-top:275px;
}

.walking{
    width: 267px;
    height:200px;
    background-image: url(./Plane.png);
    animation: Washington  infinite, USA 5s linear infinite;
    
}

@keyframes george{
    0%{
        background-position:0px;
    }
    100%{
        background-position:3000px;
    }
}

@keyframes itssoccer{
    0%{
        transform:translate(0px);
    }
    100%{
        transform:translateX(1500px);
    }
}

@keyframes Washington{
    0%{
        background-position:3000px;
    }
    100%{
        background-position:0px;
    }
}

@keyframes USA{
    0%{
        transform:translate(1400px);
    }
    100%{
        transform:translateX(-100px);
    }
}